.header {
  height: 400px; 
  width: 100%;
  padding-top: 4.5%;
  background-color:#db9a22;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
}

.header-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
