.navbar {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: "Bungee", sans-serif;
  position: fixed;
  padding: 0 2em;
}

.navbar-left{
  font-family: "Bungee", sans-serif;
  font-size: 60px;
  margin-right: auto;
}

.navbar-right{
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #4056A1;
  border: 2px solid white; 
  color: #FFFFFF;
  font-size: 40px;
}