.navbar {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 90px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: "Bungee", sans-serif;
  top: 0;
  position: fixed;
  padding: 0 2em;
}

.navbar-left{
  display: flex;
  font-family: "Bungee", sans-serif;
  font-size: 60px;
}

.navbar-right{
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 50px;
}