.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 130px;
  width: 90%;
  padding-top: 6px;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
}

form {
  width: 100%;
}

#new-tweet{
  display: flex;
  padding: 4px;
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid black;
}

.button-counter {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.counter {
  display: flex;
  font-family: "Bungee", sans-serif;
  background-color:#f4f1ec;
  color: #080707;
  padding: 0.45%;
}

.submit-button {
  display: flex;
  font-family: "Bungee", sans-serif;
  background-color:#4056A1;
  color: #FFFFFF;
  padding: 0.45%
}

.errors {
  display: flex;
  justify-content: center;
  color: crimson;
  font-weight: 300;
  margin: 0 10px;
}