.tweet-container {
  flex-direction: column;
  display: flex;
  background-color: #f4f1ec;
  border-radius: 5px;
  border: 1px, solid, #000000;
  padding: 0;
  display: flex;
  margin-top: 50px;
  background-color: white;
  height: 220px;
}

.tweet-content{
  font-size: 1.3em;
  margin-left: 15px;
  margin-top: 35px;
}