.tweets-container{
  display: flex;
  justify-content: center;
}

.tweet-content {
  display: flex;
  padding-left: 15px;
  width: 100%;
  border-bottom: 3px solid black;
  background-color: #f4f1ec;
  font-size: 20px;
}

.tweet-article{
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  height: 100%;
  width: 800px;
  margin: 34px auto;
}


.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background-image: none;
  width: 100%;
  padding-top: 20px;
  background-color:#f4f1ec;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}

.tweet-username1 {
  padding-left: 15px;
  display: flex;
  font-size: 17px;
 }

 .tweet-username2 {
  padding-right: 15px;
  color: grey;
  font-size: 17px;
 }
 
 .footer {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px;
}